<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string>https://thrivewiz.com</string>
	<key>Toolbar</key>
	<false/>
	<key>AdMobBannerUnitId</key>
	<string></string>
	<key>AdMobInterstitialUnitId</key>
	<string></string>
	<key>OneSignalAppID</key>
	<string></string>
	<key>ShowInterstitialInSecoundsEvery</key>
	<string>60</string>
	<key>RemoveAdsPurchaseId</key>
	<string></string>
	<key>AppIdAssignedFromApple</key>
	<string>1200056404</string>
	<key>PullToRefresh</key>
	<true/>
</dict>
</plist>
